{% load static %}
<main class="container rounded-5 yt-img-container">
    <div class="padding-hardleft">
        <h1
            style="color: #501f66;  font-family: 'Playfair Display', serif !important; font-style: italic !important; font-size: 3vw; font-weight: 100 !important; line-height: 1; margin-top: -0.2em !important;">
            It's
            <span class="fw-bold"
                style="font-family: 'Roboto', normal !important; font-size: 3.5rem !important; font-style: normal !important;">
                BINI</span>'s World!
        </h1>
        <h5 class="text-start">Watch the latest videos featuring BINI's music, <br /> interviews, and more!</h5>
        <div class="py-2 text-start">
            <a href="https://youtube.com/channel/UCtOcDBKgyr-f50SgbMErFkQ" class="btn btn-danger mt-4"
                style="border-radius: 2vh;">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                    class="bi bi-youtube" viewBox="0 0 16 16">
                    <path
                        d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z" />
                </svg>
                Youtube Channel
            </a>
        </div>
    </div>
    <img loading="lazy" src="{% static 'media/img/yt.webp' %}" alt="BINI" style="width: 100%;">
</main>