{% load static %}

<main class="container p-3 event-contain">
    <div class="row header event-page-main">
        <h1 class="fw-bold"
            style="font-family: 'Roboto', normal !important; font-size: 3.5rem !important; font-style: normal !important;">
            Events
        </h1>
        <div class="container">
            <div class="row py-5">
                <div class="col-12 col-lg-4 py-3">
                    <div class="event-card">
                        <div class="event-date bg-white text-dark text-center p-2">
                            <h3 class="m-0">FRI</h3>
                            <h2 class="m-0">04</h2>
                            <p class="m-0">October 2024</p>
                        </div>
                        <img src="{% static 'media/img/grand_biniverse.jpeg' %}" alt="Event Image"
                            class="event-img w-100 rounded">
                        <div class="event-overlay position-absolute bottom-0 w-100 text-dark p-4 text-start">
                            <div class="pb-4">
                                <h4 class="fw-bold mb-1">Grand BINIverse: The First Solo Concert</h4>
                                <p class="mb-1">Smart Araneta Coliseum</p>
                            </div>
                            <div class="py-1">
                                <a href="https://www.facebook.com/reel/855026413349048" class="text-dark">
                                    See Details
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 py-3">
                    <div class="event-card">
                        <div class="event-date bg-white text-dark text-center p-2">
                            <h3 class="m-0">SAT</h3>
                            <h2 class="m-0">27</h2>
                            <p class="m-0">July 2024</p>
                        </div>
                        <img src="{% static 'media/img/kcon.png' %}" alt="Event Image"
                            class="event-img w-100 rounded">
                        <div class="event-overlay position-absolute bottom-0 w-100 text-dark p-4 text-start">
                            <div class="pb-4">
                                <h4 class="fw-bold mb-1">KCON'24: Special Line-up Show Live at L.A.</h4>
                                <p class="mb-1">Crypto.com Arena, Los Angeles, California</p>
                            </div>
                            <div class="py-1">
                                <a href="https://www.facebook.com/photo/?fbid=918272727014651&set=a.650104283831498"
                                    class="text-dark">
                                    See Details
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 py-3">
                    <div class="event-card">
                        <div class="event-date bg-white text-dark text-center p-2">
                            <h3 class="m-0">SAT</h3>
                            <h2 class="m-0">20</h2>
                            <p class="m-0">July 2024</p>
                        </div>
                        <img src="{% static 'media/img/biniverse_gensan.jpg' %}" alt="Event Image"
                            class="event-img w-100 rounded">
                        <div class="event-overlay position-absolute bottom-0 w-100 text-dark p-4 text-start">
                            <div class="pb-4">
                                <h4 class="fw-bold mb-1">BINIverse: The Regional Tour - Gensan</h4>
                                <p class="mb-1">KCC Gensan Open Grounds</p>
                            </div>
                            <div class="py-1">
                                <a href="https://www.facebook.com/photo?fbid=875623924598408&set=pcb.875623964598404"
                                    class="text-dark">
                                    See Details
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="locationz" src="{% static 'media/img/cabinets/location.png' %}" alt="Brand">
        </div>
    </div>
</main>