{% load static %}
<main class="bg-body-tertiary p-5 rounded">
    <div class="about-us">
        <div class="about-content">
            <div class="row">
                <h1 class="about-header">
                    About
                    <span class="fw-bold abt-bini-text">
                        BINI
                    </span>
                    <img loading="lazy" class="the-flower" src="{% static 'media/img/cabinets/flower.webp' %}" alt="Brand" height="65">
                </h1>
                <h5 class="about-desc">
                    Filipino pop phenomenon BINI features 8 multi-talented 
                    members, <span class="fw-bold">Aiah</span>,
                    <span class="fw-bold">Colet</span>,
                    <span class="fw-bold">Maloi</span>,
                    <span class="fw-bold">Gwen</span>,
                    <span class="fw-bold">Stacey</span>,
                    <span class="fw-bold">Mikha</span>,
                    <span class="fw-bold">Jhoanna</span>, 
                    and <span class="fw-bold">Sheena</span>. The girls have quickly become the biggest female 
                    Filipino artist in history, and second biggest artist overall in the 
                    Philippines, holding both the #1 & #2 spots on the top Filipino 
                    music charts simultaneously with the hits “Salamin, Salamin” 
                    and “Pantropiko.”
                    <br/><br/>
                    BINI's sound is shaped by homegrown artists and global 
                    sensations alike. On the heels of their unprecedented growth in 
                    socials and in streaming listenership (30M+), the girls recently 
                    sold out their “BINIverse” tour in record-breaking time, and 
                    have been heralded as one of Teen Vogue's 2024 Girl Groups to 
                    watch!
                </h5>
            </div>
        </div>
        <div class="about-image-wrapper">
            <div class="circle circle1"></div>
            <div class="circle circle2"></div>
            <div class="circle circle3"></div>
        </div>
        <div class="about-image">
            <img loading="lazy" src="{% static 'media/img/spq.webp' %}" alt="BINI">
        </div>
        <img loading="lazy" class="the-bubbles" src="{% static 'media/img/cabinets/bubbles.webp' %}" alt="Bubbles">
    </div>
    <img loading="lazy" class="the-heart-colored" src="{% static 'media/img/cabinets/heart.webp' %}" alt="Heart Colored">
</main>