
.releases-card {
    flex: 0 0 auto;
    width: 20vw;
    height: 20vw;
    margin: 0 1vw;
    perspective: 100% !important;
    cursor: pointer;
    position: relative;
    border: none !important;
}
.icon-repeat-star {
    position: absolute;
    width: 4.5vw;
    left: 36%;  
    bottom: -178%; rotate: -13deg;
}
.icon-grayscale-heart {
    position: absolute; 
    right: 0;  
    width: 20rem;  
    height: auto; 
    filter: grayscale(100%) blur(3px);  
    top: 330%;  
    opacity: 0.3;
}

@media only screen and (max-width: 600px){
    .releases-card{
        display: none;
    }
    .icon-grayscale-heart {
        display: none;
    }
    .music-info h5{
        font-size: 2rem;
    }
    .music-info p{
        font-size: 1.1rem;
        font-weight: 500;
    }
}
@media only screen and (max-width: 575px) {
    .icon-grayscale-heart {
        display: none;
    }
}
@media only screen and (max-width: 1366px){
    .icon-repeat-star {
        display: none;
    }
    .icon-grayscale-heart {
        display: none;
    }
}
@media only screen and (min-width: 600px){
    .releases-card{
        display: none;
    }
    .icon-grayscale-heart {
        display: none;
    }
}
@media only screen and (min-width: 767px){
    .releases-card{
        display: block;
    }
    .icon-grayscale-heart {
        display: none;
    }
}
@media only screen and (min-width: 1367px){
    .icon-grayscale-heart {
        display: block;
    }
    .icon-repeat-star {
        display: block;
        position: absolute;
        width: 6rem;
        height: auto;
        left: 30%;  
        bottom: -180%;
        rotate: -13deg;
    }
}
@media only screen and (min-width: 1467px){
    .icon-repeat-star {
        display: block;
        position: absolute;
        width: 6rem;
        height: auto;
        left: 31%;  
        bottom: -180%;
        rotate: -13deg;
    }
}
@media only screen and (min-width: 1567px){
    .icon-repeat-star {
        display: block;
        position: absolute;
        width: 6rem;
        height: auto;
        left: 32%;  
        bottom: -180%;
        rotate: -13deg;
    }
}
@media only screen and (min-width: 1667px){
    .icon-repeat-star {
        display: block;
        position: absolute;
        width: 6rem;
        height: auto;
        left: 33%;  
        bottom: -180%;
        rotate: -13deg;
    }
}
@media only screen and (min-width: 1767px){
    .icon-repeat-star {
        display: block;
        position: absolute;
        width: 6rem;
        height: auto;
        left: 34%;  
        bottom: -180%;
        rotate: -13deg;
    }
}
@media only screen and (min-width: 1867px){
    .icon-repeat-star {
        display: block;
        position: absolute;
        width: 6rem;
        height: auto;
        left: 35%;  
        bottom: -185%;
        rotate: -13deg;
    }
}
@media only screen and (min-width: 1967px){
    .icon-repeat-star {
        display: block;
        position: absolute;
        width: 6rem;
        height: auto;
        left: 36%;  
        bottom: -185%;
        rotate: -13deg;
    }
}