#events {
    height: 100%;
}

.event-card {
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1vw 3vh rgba(0, 0, 0, 0.1);
    height: 50vh;
}

.event-date {
    position: absolute;
    top: 1vw;
    right:  1vw;
    width: 30%;
    z-index: 1;
    border-radius: 0.3rem;
}

.event-img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.event-overlay {
    background: rgba(255, 255, 255, 1);
    z-index: 2;
}

.locationz {
    position: absolute;
    width: 11rem;
    right: 12%;
    bottom: -517%;
    z-index: 3;
    display: block;
}

@media only screen and (max-width:600px){
    .locationz {
        display: none;
    }
}
@media only screen and (min-width: 1030px){
    .locationz {
        display: block;
        bottom: -363%;
        right: 0%;
    }
}
@media only screen and (min-width: 1113px){
    .locationz {
        display: block;
        bottom: -363%;
        right: 0%;
    }
}
@media only screen and (min-width: 1122px){
    .locationz {
        display: block;
        bottom: -362%;
        right: 1%;
    }
}
@media only screen and (min-width: 1162px){
    .locationz {
        display: block;
        bottom: -361%;
        right: 3%;
    }
}
@media only screen and (min-width: 1200px){
    .locationz {
        display: block;
        bottom: -367%;
        right: 0%;
    }
}
@media only screen and (min-width: 1279px){
    .locationz {
        display: block;
        bottom: -367%;
        right: 0%;
    }
}
@media only screen and (min-width: 1348px){
    .locationz {
        display: block;
        bottom: -368%;
        right: 3%;
    }
}
@media only screen and (min-width: 1366px){
    .locationz {
        display: block;
        bottom: -421%;
        right: 3%;
    }
}
@media only screen and (min-width: 1400px){
    .locationz {
        display: block;
        bottom: -441%;
        right: 0%;
    }
}
@media only screen and (min-width: 1466px){
    .locationz {
        display: block;
        bottom: -444%;
        right: 2%;
    }
}
@media only screen and (min-width: 1500px){
    .locationz {
        display: block;
        bottom: -450%;
        right: 2%;
    }
}
@media only screen and (min-width: 1552px){
    .locationz {
        display: block;
        bottom: -450%;
        right: 3%;
    }
}
@media only screen and (min-width: 1566px){
    .locationz {
        display: block;
        bottom: -448%;
        right: 3%;
    }
}
@media only screen and (min-width: 1594px){
    .locationz {
        display: block;
        bottom: -448%;
        right: 4%;
    }
}
@media only screen and (min-width: 1634px){
    .locationz {
        bottom: -446%;
        right: 5%;
    }
}
@media only screen and (min-width: 1666px){
    .locationz {
        bottom: -446%;
        right: 7%;
    }
}
@media only screen and (min-width: 1700px){
    .locationz {
        bottom: -517%;
        right: 12%;
    }
}
@media only screen and (min-width: 1700px){
    .locationz {
        bottom: -517%;
        right: 12%;
    }
}
