{% load static %}
<div class="circles-containerz">
    <div id="circlez1" class="circle-fade-shit d-flex justify-content-center align-content-center">
        <img id="star-y" class="circle-fade-shit heytoo" src="{% static 'media/img/cabinets/plain_star_yellow.webp' %}" alt="Brand" height="30" style="display: none;">
        <img id="star-w" class="circle-fade-shit hey" src="{% static 'media/img/cabinets/plain_star_white.webp' %}" alt="Brand" height="30">
    </div>
    <div id="circlez2" class="circle-fade-shit">
        <img id="bini-one" class="circle-fade-shit removez" src="{% static 'media/bini.png' %}" alt="Brand">
    </div>
    <div id="circlez3" class="circle-fade-shit">
        <img id="bini-two" class="circle-fade-shit removez" src="{% static 'media/bini.png' %}" alt="Brand">
    </div> 
</div>
<div class="text-center" style="padding-top: 8rem !important;">
    <input type="range" class="form-range custom-range my-3 py-4" id="slider" min="0" max="100" value="0">
    <p>Slide to BLOOM!</p>
</div>