@media (max-width: 600px) {
    .iconify {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}
@media (max-width: 800px) {
    .iconify {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}