
.padding-hardleft {
    position: absolute;
    top: 50%;
    left: 17vw;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}
.yt-img-container {
    position: relative;
    width: 100%;
}

.yt-img-container img {
    width: 100%;
    border-radius: 5%;
}


@media only screen and (max-width: 1366px){
    #videos,
    .viddy {
        display: none;
    }
}
@media only screen and (min-width: 1367px){
    #videos,
    .viddy {
        display: block;
    }
    .padding-hardleft {
        position: absolute;
        top: 50%;
        left: 17vw;
        transform: translate(-50%, -50%);
        padding: 1em;
        border-radius: 10px;
        text-align: center;
    }
    .yt-img-container {
        position: relative;
        width: 100%;
    }
    
    .yt-img-container img {
        width: 100%;
        border-radius: 5%;
    }
    
}